.contactContainer {
  grid-template-columns: 4fr 8fr;
}

.contactTitle {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-600);
  margin-bottom: 1rem;
}

.contactDescription {
  font-size: var(--small-font-size);
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Media Queries  */

@media only screen and (max-width: 765px) {
  .contactContainer {
    grid-template-columns: 1fr;
  }

  .contactData {
    padding: 0px 15px;
  }
}
