.progressBox {
  display: grid;
  place-items: center;
}
.progressCircle {
  width: 120px;
  height: 120px;
}

.skillsTitle {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-400);
  text-align: center;
  margin-top: 24px;
}
