.home {
  grid-template-columns: 3fr 7.32fr;
  align-items: center;
  padding: 40px;
  height: 100vh;
}

.homeImg {
  height: 80%;
  object-fit: cover;
  margin-left: 50px;
  border-radius: 30px;
  box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
  z-index: 1;
}

.homeData {
  max-width: 600px;
  margin-inline: auto;
  margin-top: 20px;
}

.homeTitle {
  position: relative;
  font-size: var(--h2-font-size);
  line-height: 1.24;
  padding-left: 70px;
}

.homeTitle span {
  color: var(--first-color);
}

.homeTitle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 17%;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--first-color);
}

.homeDescription {
  line-height: 2.125;
  margin-block: 16px 32px;
}

.colorBlock {
  position: fixed;
  height: 200%;
  width: 100%;
  background-color: var(--first-color);
  top: -50%;
  left: -83%;
  transform: rotate(-15deg);
}

/* Media Queries  */

@media only screen and (max-width: 765px) {
  .home {
    padding: 20px;
    grid-template-columns: 1fr;
    height: auto;
    place-items: center;
  }

  .homeImg {
    margin-left: 0px;
  }

  .homeData {
    background-color: var(--container-color);
    margin-top: 0px;
    padding: 20px 30px;
    border-radius: 10%;
  }

  .homeTitle {
    padding-left: 0px;
    display: block;
  }

  .homeTitle::before {
    content: none;
  }

  .colorBlock {
    top: -90%;
    left: -10%;
    transform: rotate(80deg);
    z-index: -1;
  }
}

@media only screen and (min-width: 765px) {
  .home {
    grid-template-columns: 1.65fr 3.95fr;
  }
  .homeImg {
    height: 50%;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1265px) {
  .home {
    grid-template-columns: 3fr 8.32fr;
  }

  .homeImg {
    height: 60%;
    margin-left: 120px;
  }
}
