.resumeItem {
  position: relative;
  padding-left: 60px;
}

.resumeItem:not(:last-child) {
  margin-bottom: 50px;
}

.resumeItem::before {
  content: '';
  position: absolute;
  inset-block: 0;
  left: 20px;
  border-left: 1px solid var(--border-color);
}

.resumeIcon {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--first-color);
  color: var(--text-white);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.resumeDate {
  background-color: var(--container-color);
  padding: 2px 10px;
  border-radius: 20px;
  font-size: var(--tiny-font-size);
  font-weight: var(--weight-600);
}

.resumeSubTitle {
  font-size: var(--large-font-size);
  font-weight: var(--weight-600);
  margin-block: 20px 10px;
}

.resumeSubtitle span {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  position: relative;
  padding-left: 26px;
}

.resumeSubtitle span::before {
  content: '';
  position: absolute;
  left: 7px;
  top: 9px;
  width: 10px;
  height: 2px;
  background-color: var(--text-color);
}

.resumeDescription {
  font-size: var(--smaller-font-size);
  line-height: 1.6;
}
